html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.nav-links{
  color: black;
}

.navbar {
  margin-bottom: 0;
}

.hero {
  background-image: url('../images/nav_image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100% - 56px); /* Adjust as necessary if your navbar height changes */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .hero {
    background-image: url('../images/nav_image.jpg');
  }
}

.hero-title {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 0;  /* Decreased the bottom margin */
}

.hero-text {
  font-size: 1.5em;
}
